.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  position: absolute;
  z-index: 9999;
}
.nav .nav__hamburger {
  display: none;
  margin-top: -2rem;
  margin-left: 2rem;
  cursor: pointer;
}
.nav .nav__logo {
  display: none;
}
.nav .nav__hamburger-open {
  display: inline-block;
}
.nav .nav__hamburger-close {
  display: none;
}
.nav .nav__list {
  display: flex;
  flex-direction: row;
  margin-top: -2rem;
  margin-right: 2rem;
}
.nav .nav__list .nav__item {
  list-style: none;
}
.nav .nav__list .nav__item:nth-child(n+2) {
  margin-left: 1rem;
}
.nav .nav__list .nav__item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}
.nav .nav__list-closed {
  display: none;
}

.container {
  width: 100vw;
}
.container .main {
  width: 100vw;
}
.container .main .main__image {
  width: 100vw;
  height: auto;
}
.container .main .main__image-container {
  position: relative;
}
.container .main .main__image-container .main__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: black;
  width: 6rem;
  height: 3rem;
  bottom: 0.3rem;
  right: 0;
}
.container .main .main__image-container .main__nav .main__nav-arrow-left {
  cursor: pointer;
}
.container .main .main__image-container .main__nav .main__nav-arrow-left img {
  width: 80%;
  height: auto;
}
.container .main .main__image-container .main__nav .main__nav-arrow-right {
  cursor: pointer;
}
.container .main .main__image-container .main__nav .main__nav-arrow-right img {
  width: 80%;
  height: auto;
}
.container .article {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 80vw;
}
.container .article h1 {
  font-weight: 700;
}
.container .article p {
  font-weight: 500;
  font-size: 0.65rem;
  margin-top: 1rem;
  line-height: 1.4rem;
}
.container .article .article__buy-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.container .article .article__buy-container span {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
}
.container .article .article__buy-container img {
  width: 3rem;
  height: auto;
}
.container .section {
  margin-top: 3rem;
  width: 80vw;
}
.container .section .section__content {
  margin-top: 2rem;
  margin-left: 2rem;
}
.container .section .section__content h2 {
  font-weight: 700;
}
.container .section .section__content p {
  font-weight: 500;
  font-size: 0.65rem;
  margin-top: 1rem;
  line-height: 1.4rem;
}
.container .section .footer {
  margin-top: 2rem;
}

.img {
  width: 100vw;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .nav {
    width: 50vw;
    align-items: center;
    justify-content: flex-start;
  }
  .nav .nav__hamburger-open {
    display: none;
  }
  .nav .nav__logo {
    display: inline-block;
    margin-left: 2rem;
  }
  .nav .nav__list {
    margin: 0;
    margin-left: 4rem;
  }
  .nav .nav__list .nav__item .nav__link {
    color: white;
  }
  .nav .nav__list-closed {
    display: flex;
  }

  .container .main {
    display: flex;
    flex-direction: row;
  }
  .container .main .main__image-container .main__image {
    width: 60vw;
    height: auto;
  }
  .container .main .main__image-container .main__nav {
    position: inline;
  }
  .container .main .article {
    width: 30vw;
  }
  .container .main .article h1 {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
  .container .main .article p {
    font-size: 0.55rem;
  }
  .container .main .article .article__buy-container span {
    font-size: 0.65rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
  }
  .container .main .article .article__buy-container img {
    margin-left: 2rem;
  }

  .section {
    display: flex;
    margin: 0;
  }
  .section .section__content h2 {
    font-size: 1rem;
  }
  .section .section__content p {
    font-size: 0.55rem;
    width: 30vw;
  }
  .section .footer {
    margin-top: 10rem;
  }

  .img {
    width: 30vw;
    height: auto;
  }
}
@media screen and (min-width: 1300px) {
  .container .main .article h1 {
    font-size: 2rem;
  }
  .container .main .article p {
    font-size: 0.7rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
  }
  .container .main .article .article__buy-container span {
    font-size: 0.8rem;
  }
  .container .section .section__content h2 {
    font-size: 1.7rem;
  }
  .container .section .section__content p {
    font-size: 0.7rem;
  }
  .container .footer {
    margin-left: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}